:root {
    --meteorite: #2a1d78;
    --cherokee: #fbd68d;
}

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--meteorite);
    color: var(--cherokee);
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
    margin-top: -10px;
}

header h1 {
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 4px 0px 0px 0px;
    background-color: var(--cherokee);
    color: var(--meteorite);
}

header nav {
    margin-right: 10px;
    margin-top: 4px;
}

header nav a {
    color: var(--cherokee);
    margin-right: 4px;
    text-decoration: none;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 2px solid var(--cherokee);
    font-size: 12px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--meteorite);
    margin: 0;
    width: 100%;
}

.selfie {
    margin: 0;
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.selfie img {
    margin-top: -600px;
    width: 100%;
}

.blob {
    display: flex;
    width: 100%;
}

.blob h2 {
    font-size: 200%;
    flex: 0 0 250px;
    text-align: end;
    margin-right: 30px;
    padding-right: 10px;
    padding-top:10px;
    border-right: 2px solid;
}

.image-wall {
    display: flex;
    flex-flow: row wrap;
    padding-top: 40px;
    padding-bottom: 30px;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.image-wall figure {
    margin: 0px 10px 0px 10px;
}

.big-image {
    width: 98%;
}

.small-image {
    width: 48%;
}

.blue-tint {
    border: 4px solid var(--meteorite);
    margin-bottom: 2px;
    position: relative;
    filter: sepia(0%) saturate(70%) brightness(70%) hue-rotate(5deg);
    transition: all .5s ease-in-out;
}

.blue-tint:hover {
    filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(0deg);
}

.blue-tint div {
    background-color: var(--meteorite);
    color: var(--cherokee);
    position: absolute;
    top: 60%;
}

.blue-tint h3 {
    font-size: 150%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 0;
}

.blue-tint p {
    font-size: 80%;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
}

.contact-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#about-me-content {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 30px;
}

#big {
    height: 400px;
    background-size: cover;
    background-image: url("../images/placeholder1.jpg");
}

#small-1 {
    height: 200px;
    background-size: cover;
    background-image: url("../images/placeholder2.jpg");
}

#small-2 {
    height: 200px;
    background-size: cover;
    background-image: url("../images/placeholder3.jpg");
}

#small-3 {
    height: 200px;
    background-size: cover;
    background-image: url("../images/placeholder4.jpg");
}

#small-4 {
    height: 200px;
    background-size: cover;
    background-image: url("../images/placeholder5.jpg");
}

#contact a {
    height: fit-content;
    margin-left: 100px;
    padding-top: 60px;
    color: var(--meteorite);
    text-decoration: 0;
    border-bottom: 4px solid var(--meteorite);
}

@media screen and (max-width: 1296px) {
    .small-image {
        width: 98%;
    }

    #big {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {

    .selfie {
        display: none;
    }

    header {
        justify-content: space-evenly;
        height: 135px;
    }

    header h1 {
        width: 100%;
        background-color: var(--meteorite);
        color: var(--cherokee);
        text-align: center;
    }

    header nav {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    
    header nav a {
        font-size: 20px;
        border: 0;
    }

    .blob {
        display: block;
    }

    .blob h2 {
        text-align: center;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .contact-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    #about-me-content{
        padding: auto;
        margin: auto;
        text-align: center;
    }

    #contact a{
        margin-left: 0;
        width: 100%;
        border: 0;
        padding: 0;
        margin: 2px 0px 2px 0px;
        text-align: center;
        text-decoration: underline;
    }
    
   
